<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> 这不是一个知乎</title>
        <link rel="stylesheet" href="vihu.css">
        <link rel="stylesheet" href="fuvivihu.css">
    </head>
    <body>
        <header>
            <div class="topbar-container">
                <div class="topbar-logo">
                    <a href="#">LOGO
                    </a>
                </div>
                <div class="topbar-nav">
                    <a href="#" class="nav-blog active">BLOG</a>
                    <a href="#" class="nav-idea">IDEA</a>
                    <a href="#" class="nav-todo">TODO</a>
                    <a href="#" class="nav-music">MUSIC</a>
                    <a href="#" class="nav-game">GAME</a>
                </div>
                <div class="topbar-search">
                    <input class="search-content" type="text" name="input-search" value="" placeholder="search">
                    <button class="search-inquiry" type="submit" name="inquiry">INQUIRY</button>
                </div>

            </div>
            <div class="topbar-login">
                <button type="button" name="login">login</button>
                <button type="button" name="register">register</button>
            </div>
        </header>

        <div class="main">
            <section class="main-container">
                <div class="card">
                    <div class="content-box">
                        <div class="box-info">
                            <div class="box-source">aaa收藏了这个问题 <span class="published-time">0分钟之前</span></div>
                            <div class="author-info">sdfsdf</div>
                        </div>
                        <div class="content-item">
                            <h2>如何评价这个</h2>
                            <div class="rich-content">
                                advafefaegaweafeaw
                            </div>
                            <div class="item-action">
                                <button class="vote-up">like</button>
                                <button class="vote-down">dislike</button>
                                <button class="item-comment">0评论</button>
                            </div>
                        </div>
                    </div>
                
                </div>
                
            </section>
            <section class="main-slide">

            </section>
        </div>



    </body>
</html>
