
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-size: 15px;
    color: #1a1a1a;
    background-color: #f6f6f6;
}


a, a:hover{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
}

.button-plain {
    border: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    border-radius: 3px;
    cursor: pointer;
}

.button-plain:focus {
    outline: none;
}

.icon {
    fill: currentColor;
    vertical-align: text-bottom;

}

.appHeader {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.3);
}

.appHeader-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

a.appHeader-logo{
    vertical-align: center;
    padding: 16px 0;
}

.appHeader-list {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.appHeader-item {
    padding: 0 15px;
    color:#8590a6;
}

.appHeader-search {
    display: flex;
}

.wrapper {
    display: inline-block;
}

.input-container {
    position: relative;
    margin-left: 20px;
}

.input {
    height: 30px;
    font-size: 15px;
    padding: 0 8px;
    background-color: #f6f6f6;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    overflow: hidden;
    line-height: 30px;
}

.input:focus {
    outline: none;
    border: 1px solid #8590a6;
}


.appHeader-ask {
    background-color: #0084ff;
    color: white;
    width: 58px;
    padding:6px  6px;
    margin-left: 6px;
}
.button-search {
    position: absolute;
    right: 0;
    padding-right: 16px;
    top: 25%;
    background-color: transparent;
    /*transform: translateY(-50%);*/
}

.appHeader-userInfo {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.userItem {
    color: #8590a6;
}

.appHeader-userInfo a + a {
    margin-left: 10px;
}


.appMain {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    margin-top: 10px;
}

.appMain-container {
    width: 694px;
    /*border: 1px solid #000;*/
    margin-right: 20px;
}

.appMain-slideBar {
    border: 1px solid #000;
}

.card {
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.feed {
    margin-bottom: 5px;
}



.feedSource {
    color: #8590a6;
}


.time-stamp:before {
    content: '\2022';
}

.more {
    color: #0084ff;
}

.more:hover {
    color:#175199;
}

.content-title {
    font-size: 18px;
    margin-bottom: 3px;
}

.card-actions {
    margin-top: 5px;

}

.action-item {
    color: #8590a6;
    cursor: pointer;
}

.action-item:hover {
    color:inherit;
}

.card-actions > .action-item {
    margin-left: 24px;
}

.card-actions .wrapper button{
    margin-right: 5px;
    background-color: rgba(0,132,255,0.1);
    color: #0084ff;
    padding: 0 8px;
}

.card-actions .wrapper button:hover{
    background-color: rgba(0,132,255,0.2);

}

.vote-down {
    transform: rotate(180deg);
}